body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#choseColor1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 59, 144);
    padding-block: 25px;
    border: 3px solid rgb(21, 1, 99);
    font-size: 24px;
    font-weight: 900;
    font-family: monospace;
    padding-inline: 25px;
    color: aliceblue;
    border-radius: 15px;
}

#sendBtn {
    font-size: 24px;
    font-weight: 900;
    font-family: monospace;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(122, 255, 129);
    color: rgb(45, 116, 168);
}

.choseColor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
    padding-block: 20px;
}

.choseColor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

#visualTurn {
    width: calc(50px * 8 + 17px);
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 1000;
    background-color: rgb(119, 255, 104);
    border: 3px solid black;
    border-radius: 15px;
    padding-block: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(16, 82, 77);
    margin-block: auto;
}

#divtable {
    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: calc(50px * 8 + 200px);
    height: calc(50px * 8 + 200px);
    background-color: rgb(154, 151, 246);
    border: 2.5px solid black;
}

#backcolor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(154, 151, 246)
}

.divVisualEats{
    display: flex;
    flex-direction: column;
    height: calc(55px * 8);
    margin-inline: auto;
    overflow: auto;
    scrollbar-width: none;
    border: 2px solid black;
    border-radius: 10px;
}

.eatenPieces{
    margin-block: 5px;
    outline: 3px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 3px;
    background-color: rgb(245, 159, 159);
    width: 40px;
    height: 40px;
    margin: 10px;
}

.divVisualEats::-webkit-scrollbar{
    display: none;
}
.table {
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 50px;
    outline: 1px solid rgb(4, 4, 4);
    user-select: none;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(165, 165, 165);
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(165, 165, 165);
}

tr:nth-child(even) td:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}


img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.selected {
    background-color: rgb(252, 245, 110) !important;
}

.moves {
    background-color: rgb(136, 255, 109) !important;
}

.eats {
    background-color: rgb(240, 135, 135) !important;
}

#showWinning {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 110px;
    background-color: rgb(89, 255, 255);
    border: 3px solid rgb(55, 0, 255);
    border-radius: 20px;
}

#playAgain {
    font-size: 28px;
    font-weight: 900;
    font-family: monospace;
    width: 95%;
    border-radius: 15px;
    background-color: rgb(255, 81, 133);
    color: rgb(255, 255, 255);
    border: 2px solid black;
}

#showWinning p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-family: monospace;
    font-weight: 900;
    background-color: rgb(103, 91, 192);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    width: 90%;
    margin-bottom: 0;
    margin-top: 0;
}

#select{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 45, 45);
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 3px;
}

#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    background-color: rgb(51, 118, 125);
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 700;
    font-family: cursive;
    border-top: 2px solid black;
    border-radius: 20px;
    margin-bottom: 15px;
}